@import url("https://use.typekit.net/hou6asi.css");

:root {
  --main-primary-color: #ffffff;
  --main-secondary-color: #c271ff;
  --font: "Source Sans Pro", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  margin: auto;
  font-family: var(--font);
}

body {
  line-height: 1;
  color: var(--main-primary-color);
  max-width: 1440px;
}

img,
svg {
  max-width: 100%;
  display: block;
}

header nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-primary-color);
  width: 1440px;
  padding: 26px 168px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline;
  vertical-align: middle;
  padding: 0 20px;
}

header ul li:last-child {
  padding-right: 0;
}

header ul li a {
  text-decoration: none;
  color: #ffffff;
}

.first_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/Object.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1093px;
  text-align: center;
  padding-top: 130px;
}

/* .first_section > .schooled */

.first_section > .schooled h1 {
  font-size: 120px;
  font-weight: bold;
  padding-bottom: 15px;
}

.first_section > .schooled span {
  padding: 0 25px;
  font-weight: bold;
}

.first_section > .schooled > div {
  padding-top: 42px;
}

.first_section > .schooled > div > button {
  background-color: var(--main-secondary-color);
  color: var(--main-primary-color);
  border-radius: 30px;
  padding: 15.5px 20.5px;
  margin-bottom: 120px;
  font-weight: 600;
}

.professionals > h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 67px;
}

.professionals > h2 > span {
  color: var(--main-secondary-color);
  font-weight: bold;
}

.professionals > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 136px;
}

.professionals > div > div {
  width: 150px;
}

.professionals img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.professionals h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 17px;
}

.professionals p {
  font-style: italic;
}

.quotes {
  background-color: var(--main-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-primary-color);
  gap: 53px;
  padding: 73px 0;
  font-size: 22px;
  font-weight: 400;
}

.quotes img {
  width: 160px;
}

.quotes blockquote {
  width: 730px;
  margin-bottom: 14px;
  font-style: italic;
}

.quotes h3 {
  font-weight: 700;
  padding-bottom: 4px;
}

.tutorials {
  padding: 73px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
